<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
    
    <!-- <section class="main-section">
        <div class="">
            <div class="bg-white card containerfluid">
                <div class="container" th:if="${user}">
                    
                    <h2 th:text="${user.name}"></h2>
                    
                    <table>
                        <thead>
                          <tr>
                            <th scope="col">#Id</th>
                            <td th:text="${user.id}"></td>
                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Email</th>
                            <td th:text="${user.email}"></td>
                          </tr>

                          <tr>
                            <th scope="row">Role</th>
                            <td th:text="${user.role}"></td>
                          </tr>

                          <tr>
                            <th scope="row">Status</th>
                            <td th:text="${user.isEnabled}"></td>
                          </tr>
                         
                        </tbody>
                      </table>

                      <div class="container">
                        <span th:text="${user.about}"></span>
                      </div>
                </div>
            </div>
        </div>    
    </section> -->

    <section class="main-section">
      <div class="container">
          <div class="bg-white card p-4 containerfluid">
              <div th:if="${user}">
                  <h2 th:text="${user.name}" class="text-center"></h2>

                  <div class="d-flex justify-content-center">
                      <table class="table table-bordered w-50">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">#Id</th>
                              <td th:text="${user.id}"></td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">Email</th>
                              <td th:text="${user.email}"></td>
                            </tr>

                            <tr>
                              <th scope="row">Role</th>
                              <td th:text="${user.role}"></td>
                            </tr>

                            <tr>
                              <th scope="row">Status</th>
                              <td th:text="${user.isEnabled}"></td>
                            </tr>
                          </tbody>
                      </table>
                  </div>

                  <div class="container">
                      <span th:text="${user.about}"></span>
                  </div>
              </div>
          </div>
      </div>    
  </section>
</body>
</html>